body {
    color: var(--main-text);
    background-color: var(--main-bg);
    background-color: black;
  }
.img1{
    position: fixed;
    top: -1%;
    transform: translateY(-50%);
    width: 70;
    height: 70;
    position:absolute;
    animation: zoomIn 2s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
      }
       
      @keyframes zoomIn {
        0% {
          transform: scale(3);
          opacity: 0;
        }
        100% {
          opacity: 1;
          transform: scale(1);
        }
      }  

  .bg{
	position: relative;
	width: 100%;
	height: 300px;
}
.video{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
.video video{
	position: absolute;
	top: 80%;
	left: 50%;
	object-fit: cover;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
}
.video img{
	position: absolute;
	top: 80%;
	left: 50%;
	object-fit: cover;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
}
h1 {
	font-size:5em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: #03A9F4;
	text-shadow: 
		0.04em 0.02em 0 #B0BEC5, 
		0.08em 0.05em 0 rgba(0, 0, 0, 0.6);
}
h2 {
	font-size:4em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
  color: white;
}
p {
    font-size: 2em;
    text-align: center;
    color: white;
}
#MORE {
     background-color: rgb(194, 94, 94);
}
/************************************
** スライダー
************************************/
.slide-wrap{
  display:-webkit-box;
  display:-ms-flexbox;
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  padding:0 0 1em;
  margin:0 0 2em 0;
  scroll-behavior: smooth;
}
.slide-wrap .slide-content{
  flex: 0 0 0%;
  margin: 0 10px;
  height:100%;
}
@media screen and (max-width: 480px){
.slide-wrap .slide-content {
   flex: 0 0 88%;
   margin: 0px 5px;
   scroll-snap-align:center;
}
}
.slider-png {
  width: 210px;
  height: 210px;
}
.img2 {
  display: block; 
  margin: auto;
  width: 210px;
  height: 210px;
}
.twitter-png {
  display: block;
  margin: auto;
  width: 150px;
  height: 150px;
}